@model PriorityAndTaskModel
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    <div class="col s6 offset-s3 center"><h2>NEW TASK</h2></div>
<div class="input-field col s12">
    @Html.TextBoxFor(Model => Model.task.Name, new { id = "Name" })
    <label for="Name">Name</label>
</div>
<div class="input-field col s12">
    @Html.TextBoxFor(Model => Model.task.Date, new { @class = "datepicker", @type = "text" })
    <label for="Date">Date</label>
</div>

<div class="input-field col s12">
    @Html.DropDownListFor(Model => Model.task.Priority_ID, new SelectList(Model.SelectListItems, "Value", "Text"), "-Select Priority-")
</div>
<p>
    <label>
        @Html.CheckBoxFor(Model => Model.task.Status)
        <span>IsCompleted</span>
    </label>
</p>
<input type="submit" class="btn col s12 red pulse" value="Create" />
}
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });
</script>